@model PayRoll.ViewModel.RsAssignReportVM
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Report</title>
</head>
<body onload="window.print();">
    <div class="container">
        <h2 class="text-center"><b><u>Naveed Biryani Duty Timing And Roaster</u></b></h2>
        @*start*@
        @foreach (var lst in Model.RsAssignShiftsVMQList) 
        {
    <div class="card">
        <div class="card-header">
            <h3 class="text-center"><b><u>@lst.Name</u></b></h3>
        </div>
        <div class="card-content">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-light">
                        <thead class="thead-dark " style="background-color: darkgray;color: black;">
                            <tr>
                                <th>EmpCode</th>
                                <th>Name</th>
                                <th>Time In</th>
                                <th>Time Out</th>
                                <th>Leave</th>
                                <th>Designation</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var lstchild in Model.RsAssignChildList)
                            {
                                if (lst.RsAssignid == lstchild.RsAssignid)
                                {
                                    <tr>
                                        <td>@lstchild.EmpCode</td>
                                        <td>@lstchild.Name</td>
                                        <td>@lst.StTime.ToString("hh:mm:ss tt")</td>
                                        <td>@lst.EnTime.ToString("hh:mm:ss tt")</td>
                                        <td>@lstchild.LeaveDay</td>
                                        <td>@lstchild.Designation</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
        }
        
@*end*@
    </div>
</body>
</html>