@model List<PayRoll.ViewModelQuery.MonthlySalaryAddRestReportVMQ>
@{
    ViewBag.Title = "GetSearch";
}
<div class="content-wrapper">

    <!-- Container-fluid starts -->
    <!-- Main content starts -->
    <div class="container-fluid">
        <div class="row">
            <div class="main-header">
            </div>
        </div>
        <div id="mydiv" class="col-md-3">
            <p class="text-center bg-success">@TempData["Update"]</p>
            <p class="text-center bg-danger">@TempData["Duplicate"]</p>
        </div>
        <div class="col-lg-12">
            <a href="@Url.Action("Index","MonthlySalary")" class="btn btn-skype offset-lg-10"><i class="fa fa-backward"></i>  Back</a>
            <div class="card" style="margin-top:20px">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-header-text"><u>Monthly Salaries</u></h5>
                            </div>
                            <div class="card-block" style="margin-top:20px">
                                <table id="table1" class="table table-striped table-bordered nowrap">
                                    <thead>
                                        <tr>
                                            <th>Employee Name</th>
                                            <th>Month Days</th>
                                            <th>Working Days</th>
                                            <th>Present Days</th>
                                            <th>Absent Days</th>
                                            <th>Salary</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Employee Name</th>
                                            <th>Month Days</th>
                                            <th>Working Days</th>
                                            <th>Present Days</th>
                                            <th>Absent Days</th>
                                            <th>Salary</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @foreach (var lst in Model)
                                        {
                                            <tr>
                                                <td>@lst.Name</td>
                                                <td>@lst.Monthdays</td>
                                                <td>@lst.Workingdays</td>
                                                <td>@lst.Presentdays</td>
                                                <td>@lst.Absentdays</td>
                                                <td>@lst.salary</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Main content ends -->
    <!-- Container-fluid ends -->
</div>
<script>
    $(".search").chosen();
    setTimeout(function () {
        $('#mydiv').fadeOut('fast');
    }, 3000); // <-- time in milliseconds
    $(document).ready(function () {
        var table1 = $('#table1').DataTable();
        // Setup - add a text input to each footer cell
        $('#table1 tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<div class="md-input-wrapper"><input type="text" class="md-form-control" placeholder="Search" /></div>');
        });
        //
        table1.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
        //
    });
</script>